<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="darkreader-lock">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {% block css_link %} {% endblock %}
    <title>r/Fallout76Marketplace</title>
</head>

<body>
<ul class="nav_bar">
    <li>
        <h2 class="neonText"> Fallout 76 Marketplace</h2>
    </li>
    <li>{% block navbar_item %} {% endblock %}</li>
</ul>

<div style="height: 0">
    <input id="menu__toggle" type="checkbox"/>
    <label class="menu__btn" for="menu__toggle">
        <span></span>
    </label>
    <ul class="menu__box">
        <li class="menu__item">
            <form action="/user/search_username" method="GET">
                <label>
                    <input type="text" name="search_box" style="background-color: black; padding: 10px; border-radius: 10px; width: 190px;"
                           placeholder="u/<reddit-username>" required>
                </label>
                <input type="submit" style="background-color: #D9AF2F; padding: 9px; border-radius: 10px; margin-left: 15px; color: black; font-weight: bold"
                       value="Search">
            </form>
        </li>
        {% block profile_menu_item %} {% endblock %}
        <li><a class="menu__item" href="https://fallout76marketplace.com">Home</a></li>
        <li><a class="menu__item" href="https://www.reddit.com/r/Fallout76Marketplace/">r/Fallout76Marketplace</a></li>
        <li><a class="menu__item" href="https://trello.com/b/8oCsXC2j">Trading Blacklist</a></li>
        <li><a class="menu__item" href="https://www.reddit.com/r/Fallout76Marketplace/wiki/index">Wiki</a></li>
        <li><a class="menu__item" href="https://www.reddit.com/message/compose?to=/r/Fallout76Marketplace">Contact Us</a></li>
    </ul>
</div>

{% block content %} {% endblock %}

<footer>
    <p>
        <script>document.write(new Date().getFullYear().toString())</script>
        r/Fallout76Marketplace. Fallout series, Fallout 76, and all the content are property of Betheda/Zenimax Media Inc.
    </p>
</footer>
</body>
</html>