<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>r/Fallout76Marketplace</title>
</head>

<body>
<ul class="nav_bar">
    <li style="float:left;">
        <img class="logo" src="/static/images/logo.png">
        <h3 style="display: inline-block;">r/Fallout76Marketplace</h3>
    </li>
    <li>
    </li>
</ul>

<div class="hamburger-menu">
    <input id="menu__toggle" type="checkbox"/>
    <label class="menu__btn" for="menu__toggle">
        <span></span>
    </label>
    <ul class="menu__box">
        <li><a class="menu__item" href="#">Home</a></li>
        <li><a class="menu__item" href="https://www.reddit.com/r/Fallout76Marketplace/">r/Fallout76Marketplace</a></li>
        <li><a class="menu__item" href="https://trello.com/b/8oCsXC2j">Trading Blacklist</a></li>
        <li><a class="menu__item" href="https://www.reddit.com/r/Fallout76Marketplace/wiki/index">Wiki</a></li>
        <li><a class="menu__item" href="https://www.reddit.com/message/compose?to=/r/Fallout76Marketplace">Contact Us</a></li>
    </ul>
</div>

<div class="reddit-card">
    <div class="title_bar">
        <h4 style="color: black;">Connect your Reddit Account</h4>
    </div>

    <h3>r/Fallout76Marketplace User Registration</h3>
    <p>Just one more step before you start trading at r/Fallout76Marketplace.</p>
    <p>Please download PSN/XBOX App from app store, or be near your console, as you will be asked to input a message sent to you.</p>
    <input id="reddit-login" type="submit" value="Sign in with Reddit">
</div>

<footer>
    <p>
        <script>document.write(new Date().getFullYear().toString())</script>
        r/Fallout76Marketplace. Fallout series, Fallout 76, and all the content are property of Betheda/Zenimax Media Inc.
    </p>
</footer>
</body>
</html>