{% extends "base.html" %}

{% block css_link %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/platform_style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/gt_style.css') }}">
{% endblock %}

{% block content %}
    <div class="card">
        <div class="title_bar">
            <h4 style="color: black;">GamerTag Verification</h4>
        </div>
        <p>Enter the 6 digit verification code sent to you. Make sure your profile is not private, otherwise you will not get a notification.</p>
        {% if warning_message|length > 0 %}
            <p style="color: red;">{{ warning_message }}</p>
        {% endif %}
        <form action="/user_verification/verify_code" method="POST">
            <div class="gamertag-input">
                <label for="gamertag">Code: </label>
                <input id="gamertag" type="number" name="verification_code" placeholder="Enter the Verification Code" required>
            </div>
            <input id="next_btn" type="submit" value="Next">
        </form>
    </div>
{% endblock %}